[Unit]
Description=Enable USB ethernet gadget on selected Radxa single board computers.
Documentation=https://wiki.radxa.com/Template:Rockpi_apt
After=network.target
Conflicts=amlogic-adbd.service
[Service]
Type=forking
ExecStart=/etc/init.d/radxa-usbnet.sh start
ExecStop=/etc/init.d/radxa-usbnet.sh stop
ExecReload=/etc/init.d/radxa-usbnet.sh reload
[Install]
WantedBy=multi-user.target
