[Unit]
Description=Enable USB ethernet gadget on selected Radxa single board computers
Documentation=https://github.com/radxa-pkg/radxa-otgutils/
After=network.target
Conflicts=radxa-adbd.service
[Service]
Type=forking
ExecStart=/lib/radxa-otgutils/radxa-usbnet.sh start
ExecStop=/lib/radxa-otgutils/radxa-usbnet.sh stop
ExecReload=/lib/radxa-otgutils/radxa-usbnet.sh reload
[Install]
WantedBy=multi-user.target
