[Unit]
Description=Enable adbd on selected Radxa single board computers
Documentation=https://github.com/radxa-pkg/radxa-otgutils/
After=network.target
Conflicts=radxa-usbnet.service
[Service]
Type=forking
ExecStart=/lib/radxa-otgutils/radxa-adbd.sh start
ExecStop=/lib/radxa-otgutils/radxa-adbd.sh stop
ExecReload=/lib/radxa-otgutils/radxa-adbd.sh reload
[Install]
WantedBy=multi-user.target
