[Unit]
Description=Enable adbd on supported Radxa products
Documentation=https://github.com/radxa-pkg/radxa-otgutils/
After=network.target
Conflicts=radxa-usbnet.service

[Service]
Type=forking
ExecStart=/usr/sbin/radxa-adbd start
ExecStop=/usr/sbin/radxa-adbd stop
ExecReload=/usr/sbin/radxa-adbd reload

[Install]
WantedBy=multi-user.target
