[Unit]
Description=Enable adbd on supported Radxa products
Documentation=https://github.com/radxa-pkg/radxa-otgutils/
After=network.target

[Service]
RemainAfterExit=yes
ExecStart=/usr/sbin/radxa-otgutils adbd start
ExecStop=/usr/sbin/radxa-otgutils adbd stop
ExecReload=/usr/sbin/radxa-otgutils adbd reload

[Install]
WantedBy=multi-user.target
