[Unit]
Description=Enable USB CDC Ethernet Control Model on %i
Documentation=https://github.com/radxa-pkg/radxa-otgutils/
After=network.target
PropagatesReloadTo=radxa-udc@%i.service
PropagatesStopTo=radxa-udc@%i.service

[Service]
RemainAfterExit=yes
ExecStart=/usr/sbin/radxa-otgutils ecm %i start
ExecStop=/usr/sbin/radxa-otgutils ecm %i stop
ExecReload=/usr/sbin/radxa-otgutils ecm %i reload
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
Alias=radxa-usbnet@%i.service
Also=radxa-udc@%i.service
