[Unit]
Description=Enable adbd on %i
Documentation=https://github.com/radxa-pkg/radxa-otgutils/
After=network.target

[Service]
RemainAfterExit=yes
ExecStart=/usr/sbin/radxa-otgutils adbd start %i
ExecStop=/usr/sbin/radxa-otgutils adbd stop %i
ExecReload=/usr/sbin/radxa-otgutils adbd reload %i

[Install]
WantedBy=multi-user.target
