[Unit]
Description=Enable USB Ethernet on supported Radxa products
Documentation=https://github.com/radxa-pkg/radxa-otgutils/
After=network.target

[Service]
RemainAfterExit=yes
ExecStart=/usr/sbin/radxa-usbnet start
ExecStop=/usr/sbin/radxa-usbnet stop
ExecReload=/usr/sbin/radxa-usbnet reload

[Install]
WantedBy=multi-user.target
