[Unit]
Description=Enable USB Ethernet on %i
Documentation=https://github.com/radxa-pkg/radxa-otgutils/
After=network.target

[Service]
RemainAfterExit=yes
ExecStart=/usr/sbin/radxa-otgutils usbnet start %i
ExecStop=/usr/sbin/radxa-otgutils usbnet stop %i
ExecReload=/usr/sbin/radxa-otgutils usbnet reload %i

[Install]
WantedBy=multi-user.target
