[Unit]
Description=Enable USB CDC Network Control Model on %i
Documentation=https://github.com/radxa-pkg/radxa-otgutils/

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/radxa-otgutils ncm %i start
ExecStop=/usr/sbin/radxa-otgutils ncm %i stop
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=radxa-otgutils.target
