[Unit]
Description=Enable USB CDC Ethernet Control Model on %i
Documentation=https://github.com/radxa-pkg/radxa-otgutils/
After=network.target
PropagatesReloadTo=radxa-ecm@%i.service
PropagatesStopTo=radxa-ecm@%i.service
Requires=radxa-ecm@%i.service
Before=radxa-ecm@%i.service

[Service]
RemainAfterExit=yes
ExecStart=/usr/bin/echo "radxa-usbnet@%i.service will be discarded, please use radxa-ecm@%i.service instead"
ExecStop=/usr/bin/echo "radxa-usbnet@%i.service will be discarded, please use radxa-ecm@%i.service instead"
ExecReload=/usr/bin/echo "radxa-usbnet@%i.service will be discarded, please use radxa-ecm@%i.service instead"
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
Alias=radxa-ecm@%i.service
