#!/usr/bin/make -f

include /usr/share/dpkg/pkg-info.mk
include /usr/share/dpkg/architecture.mk

%:
	dh $@

override_dh_builddeb:
	dh_builddeb -- -Zxz

override_dh_installsystemd:
	dh_installsystemd --name=radxa-adbd@
	dh_installsystemd --name=radxa-ecm@
	dh_installsystemd --name=radxa-ncm@
	dh_installsystemd --name=radxa-otgutils
